h2 {
    margin-left: 45%;
    font-family: "Copperplate Gothic Light";
    font-size: 40px;
    color: #06233b;
}

table {
    table-layout: fixed;
    width: 100%;
}

.sturdy td:nth-child(1) {
    width: 25%;
}

.sturdy td:nth-child(2) {
    width: 50%;
}

.sturdy td:nth-child(3) {
    width: 25%;
}




.sturdy2 td:nth-child(1) {
    width: 25%;
}

.sturdy2 td:nth-child(2) {
    width: 50%;
    font-size: 22px;
    font-family: "Copperplate Gothic Light";
    color: #06233b;
}

.sturdy2 td:nth-child(3) {
    width: 25%;
    align-items: center;
}



button {
    cursor: pointer;
    font-size: 18px;
    padding: 12px 28px;
    border-radius: 8px;
    text-align: center;
    background-color: #ce6e5c ;
    text-decoration: none;
    color: #06233b;
    font-family: "Copperplate Gothic Light";
}

button:hover{
    background-color: white;
    color: #ce6e5c;
}