{% extends 'usernav.html' %}
{% block body %}
    <h2>Order History</h2>
    <form>
        <table class = "sturdy">
            <td></td>

            <td>
                {% for order in orders %}
                    Order: {{order[0][0]}}
                    Date: {{ order[0][2]}}
                    <p></p>
                    {% for detail in order %}
                        Item ID: {{ detail[3]}}
                        Item Name: {{ detail[4] }}
                        Quantity: {{ detail[5]}}
                        Price: {{ detail[6] }}
                        <p></p>
                    {% endfor %}
                    <p></p>
                    <p></p>
                {% endfor %}

            </td>

            <td></td>

        </table>
    </form>


{% endblock %}